

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

@font-face {
	font-family: Lobster;
	src: url('Lobster 1.4.otf');
}




body {
	background-color: rgb(247,247,242);
}

div#site-wrapper {
	margin: 0 auto;
	background-color: rgb(236,242,210);
}

header#site-header {
	width:960px;
	margin: 0 auto;
	position: relative;
}

header#site-header h1 {
	background: url(images/logo.png) no-repeat;
	height: 120px;
	width: 450px;
	text-indent: -9999px;
}

header#site-header nav#top-nav {
	font-family: arial;
	font-size: .7em; 
	float: right;
	top: 25px;
	right: 0;
	width: 200px;
	position: absolute;
	color:rgb(116,73,24);
	text-decoration: none;
}

header#site-header nav#top-nav a {
	text-decoration: none;
	color:rgb(116,73,24);

}

div#menu-wrapper {
	background-color: rgb(116,73,24);
	height: 40px;
	margin-bottom: 10px;
}

nav#main-menu ul {
	margin: 0 auto;
	width: 960px;
	padding-top: 11px;

}

nav#main-menu ul li {
	display: inline;
	width: 100%;
}

nav#main-menu ul li a {
	font-family: arial;
	font-size: 1.2em;
	color: white;
	margin-right: 20px;
	text-transform: uppercase;
	text-decoration: none;
}

nav#main-menu ul li a:hover {
	color:rgb(183,200,80);
}

div#content-wrapper {
	margin: 40px 0 40px 0;	
	padding-top: 20px;
	background-color: white;
	clear:both;
}

div#content {
	width: 960px;
	margin: 0 auto;
	padding-bottom: 25px;
}

div#content article#page {
	width: 500px;
	float: left;
	margin-right: 75px;
}

aside#sidebar{
	width: 385px;
	float: left;
	margin-top: 60px;
}

aside#sidebar ul {
	margin-bottom: 10px;
}

div#footer-wrapper {
	background-color: rgb(116,73,24);
	padding: 20px;
}

footer#site-footer {
	width: 960px;
	margin: 0 auto;
	
}

section#footer-contact {
	width: 125px;
	float: left;
	margin-right: 450px;
}

section#footer-follow {
	width: 200px;
	float: left;
}

section#footer-follow ul li {
	display: inline;
}

h1, h2{
	font-family: arial;
	color: rgb(116,73,24);
	line-height: 1.8em;
	text-transform: uppercase;
}

article h1 {
	font-size: 3em;
	font-family: lobster, arial;
	line-height: 1.3em;
	text-transform: capitalize;
}

footer section h1 { 
	color: rgb(247,247,242); 
	text-transform: uppercase;
	line-height: 1.6em;
}

p {
	font-family: arial;
	line-height: 1.5em;
	color: gray;
	font-size: .7em;
}

footer section p {
	color: rgb(247,247,242);
	font-size: .5em;
}

aside ul li a {
	font-size: .8em;
	color: rgb(116,73,24);
	text-decoration: none;
	font-family: arial;
}