/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* End of reset */
@font-face {
    font-family: 'LektonRegular';
    src: url('Lekton-Regular-webfont.eot');
    src: url('Lekton-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lekton-Regular-webfont.woff') format('woff'),
         url('Lekton-Regular-webfont.ttf') format('truetype'),
         url('Lekton-Regular-webfont.svg#LektonRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LektonItalic';
    src: url('Lekton-Italic-webfont.eot');
    src: url('Lekton-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lekton-Italic-webfont.woff') format('woff'),
         url('Lekton-Italic-webfont.ttf') format('truetype'),
         url('Lekton-Italic-webfont.svg#LektonItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LektonBold';
    src: url('Lekton-Bold-webfont.eot');
    src: url('Lekton-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lekton-Bold-webfont.woff') format('woff'),
         url('Lekton-Bold-webfont.ttf') format('truetype'),
         url('Lekton-Bold-webfont.svg#LektonBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Inconsolata';
    src: url('inconsolata.otf');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color:black;
}

img {
	top:0;
	left:0;
	opacity:.3;
}


/*NEW BACKGROUND IMAGE CSS*/

/*Base bgimage styles necessary for layout*/
#bgimage {
	position: relative;
	}
	
#bgimage img {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
	display: none;
	}

/*First image has class of first, and its first, so show it*/
/*This class won't matter once JQuery kicks in*/
#bgimage img.first {
	display: block;
	}

/*If #bgimage has class of info-on, img opacity is 0.6*/
/*When the hide and show button is clicked, */
/*the appropriate classes are swapped via JQuery*/
#bgimage.info-on img {
	opacity: 0.6;
	}	

/*If #bgimage has class of info-off, img opacity is 1*/
#bgimage.info-off img {
	opacity: 1;
	}
	

/*END NEW BACKGROUND IMAGE CSS*/

div#site-wrapper {
    margin-left:15px;
    padding-top:23px;
    max-width:1280px;
    min-width:768px;
}

div#menu-wrapper {
    float:left;
    width:230px;
    margin-right:2%;
}

header#main-site-header {
    width:20%;
}

h1#site-logo a {
    font-size:1.4em;
    text-decoration:none;
    font-family:eurostile, helvetica, arial, georgia;
    font-weight:bold;
    line-height:.85em;
    color:white;
}

header h1 {
    margin-bottom:10px;
    width:12%;
}

/*location and border controls for all menu frames*/

section.contact-info, nav#main-nav ul, section.nav-wrapper { 
    padding-top:4%;
    border-top:1px solid white;
    margin-bottom:10px;
}

section.nav-wrapper {
	border-bottom:1px solid white;
	padding-bottom:4%;
}

section.contact-info {
    font-size:.7em;
    line-height:1.4em;
    font-family:helvetica, san-serif;
    font-weight:200;
    color:white;
}

nav#main-nav ul li a {
    font-size:1em;
    line-height:1.4em;
    font-family:helvetica, san-serif;
    font-weight:500;
    color:white;
    text-decoration:none;
}

section.nav-wrapper nav.project-list p{
    font-size:.8em;
    line-height:1.4em;
    margin-bottom:2%;
    font-family:helvetica, san-serif;
    font-weight:400;
    color:white;
}

section.nav-wrapper nav.project-list ul li a{
    font-size:.8em;
    line-height:1.4em;
    font-family:helvetica, san-serif;
    font-weight:200;
    color:white;
    text-decoration:none;
}

/*Nav element selected*/

section.nav-wrapper nav.project-list ul li a.project-on {
    font-size:.8em;
    line-height:1.6em;
    font-family:helvetica, san-serif;
    font-weight:bold;
    color:white;
}

div#portfolio-wrapper {
    width:70%;
    display:block;
    float:left;
}

section.content-description {
    width:50%;
}

section.content-description h1 {
    font-size:.8em;
    line-height:1.3em;
    color:white;
    font-family:helvetica, san-serif;
    font-style:bold;
}

section.content-description h2 {
    font-size:1em;
    line-height:1.1em;
    color:white;
    font-family:helvetica, san-serif;
    margin-bottom:1%;
    font-style:bold;   
}

section.content-description h3 {
    font-size:1em;
    line-height:1.1em;
    color:white;
    font-family:helvetica, san-serif;
    margin-bottom:1%;
    font-style:italic;   
}

section.content-description p {
    font-family:helvetica, san-serif;
    color:white;
    font-size:1em;
    line-height:1.3em;
    margin-bottom:1%;
}

section.content-description p.copy {
    font-size:1em;
    margin-top:3%;
}

section.content-description p.share {
    font-family:helvetica, san-serif;
    color:white;
    font-size:1em;
    line-height:1.3em;
    margin-top:3%;
}

section.content-description a {
    font-family:helvetica, san-serif;
    color:white;
    font-size:1em;
    line-height:1.3em;
    margin-top:5%;
    text-decoration:none;

}

nav.project-nav {
    font-family:helvetica, san-serif;
    color:white;
    font-size:1em;
    width:100%;
    margin-top:1.4%;
}

nav.project-nav a {
    font-family:helvetica, san-serif;
    color:white;
    font-size:1em;
    line-height:1.4em;
    text-decoration:none;
}

section.content-description p.share {
    font-size:1em;
}

section#showhide {
    font-family:helvetica, san-serif;
    color:white;
    font-size:1em;
    width:100%;
}

a#show {
    display:none;
    text-decoration:none;
    color:white;
}

a#hide{
    text-decoration:none;
    color:white;

}

section#footer-info {
    padding-top:.5%;
}

section#footer-info footer {
    font-size:.4em;
    line-height:1.2em;
    font-family:helvetica, san-serif;
    font-weight:200;
    color:white;
    text-decoration:none;
}

section#footer-info footer.copyright {
    margin-right:2%;
    margin-bottom:2%;
}

section#footer-info footer.design {
    padding-top:2%;
}