/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* End of reset */


/*begin base CSS*/
body {
    background-color:black; 
    background-image:   ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;

}

div#site-wrapper {
    margin-left:1.25%;
    margin-top:1.25%;
    max-width:1280px;
    min-width:768px;
}

div#menu-wrapper {
    float:left;
    width:20%;
    margin-right:2%;
}

header#main-site-header {
    width:20%;
}

div#site-wrapper>section.contact-info {
	display:none;
}

h1#site-logo a {
    font-size:3.5em;
    text-decoration:none;
    font-family:eurostile, helvetica, arial, georgia;
    font-weight:bold;
    line-height:.85em;
    color:white;
}

header h1 {
    margin-bottom:4%;
    width:12%;
}

/*location and border controls for all menu frames*/

section.contact-info, nav#main-nav ul, section.nav-wrapper { 
    padding-top:2%;
    border-top:1px solid white;
    margin-bottom:2%;
}

section.nav-wrapper {
	border-bottom:1px solid white;
	padding-bottom:4%;
}

section.contact-info {
    font-size:.7em;
    line-height:1.4em;
    font-family:helvetica, arial, georgia;
    font-weight:200;
    color:white;
}

nav#main-nav ul li a {
    font-size:1em;
    line-height:1.4em;
    font-family:helvetica, arial, georgia;
    font-weight:500;
    color:white;
    text-decoration:none;
}

section.nav-wrapper nav.project-list p{
    font-size:.8em;
    line-height:1.4em;
    margin-bottom:2%;
    font-family:helvetica, arial, georgia;
    font-weight:400;
    color:white;
}

section.nav-wrapper nav.project-list ul li a{
    font-size:.8em;
    line-height:1.4em;
    font-family:helvetica, arial, georgia;
    font-weight:200;
    color:white;
    text-decoration:none;
}

section#about-me {
    float:left;
    width:55%;
    font-size:1em;
    line-height:1.4em;
    font-family:helvetica, arial, georgia;
    /*font-style:italic;*/
    font-weight:200;
    color:white;
    text-decoration:none;
}

section#about-me p {
    margin-bottom:.5em;
}

section#about-me p#resume {
    margin-top:2em;
    font-style:italic;
}

section#about-me p#resume a {
    color:white;
}

/*Nav element selected*/

section.nav-wrapper nav.project-list ul li a.project-on {
    font-size:.8em;
    line-height:1.6em;
    font-family:helvetica, arial, georgia;
    font-weight:bold;
    color:white;
}

div#portfolio-wrapper {
    width:70%;
    display:block;
    float:left;
}

section.content-description {
    width:50%;

}

section.content-description h1 {
    font-size:.8em;
    line-height:1.2em;
    color:white;
    font-family:helvetica, arial, georgia;
    font-style:bold;
}

section.content-description h2 {
    font-size:1em;
    line-height:1.2em;
    color:white;
    font-family:helvetica, arial, georgia;
    margin-bottom:1%;
    font-style:bold;
    
}

section.content-description p {
    font-family:helvetica, arial, georgia;
    color:white;
    font-size:1em;
    line-height:1.2em;
    margin-bottom:1%;
}

section.content-description p.copy {
    font-size:1em;
    margin-top:3%;
}

section.content-description p.share {
    font-family:helvetica, arial, georgia;
    color:white;
    font-size:1em;
    line-height:1.2em;
    margin-top:3%;
}

section.content-description a {
    font-family:helvetica, arial, georgia;
    color:white;
    font-size:1em;
    line-height:1.2em;
    margin-top:5%;
}

nav.project-nav {
    font-family:helvetica, arial, georgia;
    color:white;
    font-size:1em;
    width:100%;
    margin-top:.5%;
}

nav.project-nav a {
    font-family:helvetica, arial, georgia;
    color:white;
    font-size:1em;
    line-height:1.4em;
    text-decoration:none;
}

section.content-description p.share {
    font-size:1em;
}

section#showhide {
    font-family:helvetica, arial, georgia;
    color:white;
    font-size:1em;
    width:100%;
}

a#show {
    display:none;
    text-decoration:none;
    color:white;
}

a#hide{
    text-decoration:none;
    color:white;

}

section#footer-info {
    padding-top:.5%;
}

section#footer-info footer {
    font-size:.4em;
    line-height:1.2em;
    font-family:helvetica, arial, georgia;
    font-weight:200;
    color:white;
    text-decoration:none;
}

section#footer-info footer.copyright {
    margin-right:2%;
    margin-bottom:2%;
}

section#footer-info footer.design {
    padding-top:2%;
}

div.twitter-feed { 
    width:20%;
    float:left;
    margin-right:2%;
    
}
/*Contact Form*/
label { 
    display:block;
    font-size:1em;
    line-height:1.6em;
    font-family:helvetica, arial, georgia;
    color:white;
}

input, textarea { 
    display:block; 
    width:30%;
}
    
div#contact-form {
    width:100%;
    height:100%;
}
    
textarea { 
    height:10em;
}

div#contact-form {
    margin-left:2%;
}

header section.contact-info {
	display:none;
	}

