/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* End of reset */


/*begin base CSS*/

@font-face {
    font-family: 'LektonRegular';
    src: url('Lekton-Regular-webfont.eot');
    src: url('Lekton-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lekton-Regular-webfont.woff') format('woff'),
         url('Lekton-Regular-webfont.ttf') format('truetype'),
         url('Lekton-Regular-webfont.svg#LektonRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LektonItalic';
    src: url('Lekton-Italic-webfont.eot');
    src: url('Lekton-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lekton-Italic-webfont.woff') format('woff'),
         url('Lekton-Italic-webfont.ttf') format('truetype'),
         url('Lekton-Italic-webfont.svg#LektonItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LektonBold';
    src: url('Lekton-Bold-webfont.eot');
    src: url('Lekton-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lekton-Bold-webfont.woff') format('woff'),
         url('Lekton-Bold-webfont.ttf') format('truetype'),
         url('Lekton-Bold-webfont.svg#LektonBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Inconsolata';
    src: url('inconsolata.otf');
    font-weight: normal;
    font-style: normal;
}

/*BODY AND OVERALL CONTENT SETTINGS*/

	body {
		z-index:-1;
		background-color:black;
    	background-image:   ;
    	background-attachment: fixed;
    	background-repeat: no-repeat;
    	background-size: cover;
    	-moz-background-size: cover;
	}

	div#site-wrapper {
    	margin-left:1%;
    	margin-top:1%;
    	max-width:960px;
    	min-width:360px;
	}

	img {
		position:fixed; 
		bottom:0;
		left:0;
		z-index:-1;
	}

	a, p, h1, h2, h3, section, footer, header, nav, div {
		font-family:inconsolata, courier new, san serif;
		color:white;
		text-decoration:none;
		word-spacing:-.12em;
		line-height:1.18em;
		font-size:1.02em;
	}

	a:hover {
		background-color:yellow;
		color:black;
		border-radius:8px;
		padding:0 1.2% 0 1.2%;
		margin:0 .2% .2% 0;
	}
	
	a.no-hover {
		border-radius:0px;
		padding:0 0 0 0%;
		margin:0 0 0 0;
		background-color:transparent;
		color:white;
	}
	
	.hide {
		display:none;
	}
	
	.page-on{
		background-color:lightgrey;
		color:white;
		border-radius:8px;
		padding:0 1.2% 0 1.2%;
		margin:0 .2% .2% 0;	
	}

/*HEADER CONTENT*/

	header#main-site-header a p {
		margin-bottom:.5%;
		border-bottom:2px solid yellow;
		width:30%;
	}

	section.contact-info {
		margin-bottom:.5%;
	}
	
/*MENU CONTENT*/	
	
	div#menu-wrapper {
		width:37%;
		margin:0 3% 3% 0;
		float:left;
	}

	nav#main-nav {
		margin-bottom:3%;
		font-style:italic;
	}
	
	nav.project-list ul li {
		padding:0 1% 0 1%;
		margin:0 .2% .2% 0;
	}

	section.contact-info {
		margin-bottom:3%;	
	}
		
/*ABOUT PAGE BODY CONTENT*/

	section#about-me {
		width:50%;
		float:left;
	}
	
	p#resume {
		margin-top:2%;
	}

	p#resume a {
		text-decoration:underline;
	}

/*FOOTER CONTENT*/
	footer {
		margin-top:2%;
		font-style:italic;
	}

/*CONTACT FORM CONTENT*/
	label { 
    	display:block;
    	font-size:1em;
    	line-height:1.6em;
    	font-family:courier new, arial, georgia;
    	color:white;
	}

	input, textarea { 
    	display:block; 
    	width:350px;
	}
    
	div#contact-form {
    	width:100%;
    	height:100%;
	}
    
	textarea { 
    	height:10em;
	}

	div#contact-form {
	}


/*MEDIA QUERIES*/

@media all and (max-width:768px) {

/*HEADER CONTENT*/

	header#main-site-header h1#site-logo a p {
		margin-bottom:.5%;
		border-bottom:1px solid yellow;
		width:99%;
		text-decoration:none;
	}

/*BODY AND OVERALL CONTENT SETTINGS*/

	div#site-wrapper {
    	margin:3% 3% 3% 3% ;
	}
	
	.hide {
		display:block;
	}
	
	a, p, h1, h2, h3, section, footer, header, nav, div {
		font-family:inconsolata, courier new, san serif;
		color:white;
		text-decoration:none;
		word-spacing:-.12em;
		line-height:1.2em;
		font-size:.99em;
	}

/*MENU CONTENT*/	
	
	div#menu-wrapper {
		width:99%;
		margin:0 0 3% 0;
	}

	nav#main-nav {
		margin-bottom:3%;
	}
	
	nav.project-list ul li {
		padding:0 1% 0 0;
		margin:0 .2% .2% 0;
	}

	section.contact-info {
		margin-bottom:3%;	
	}

/*BODY CONTENT*/	

	section#about-me {
		width:100%;
		float:none;
	}
	
	
}